/* CSS code for the Header section. */
 #main-header{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background:url("../assets/img/pexels-photo-574073.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    font-size:70px;
    opacity:.9
    // background-size:contain;
    // margin-top: 0%;
    // background:url("../assets/img/pexels-photo-574073.jpeg");
    // height:330px;
    // font-size:70px;
    // font-style: italic;
}
.texting{
    color:white;
    font-size:30px;
}
#heads{
    opacity:9.0;
    color:black;
    text-shadow: 5px 0 0 green, -2px 0 0 green, 0 2px 0 green, 0 -2px 0 green, 1px 1px green, -1px -1px 0 green, 1px -1px 0 green, -1px 1px 0 green;
}

