/* CSS code for the Header section. */
 #main-header{
    background-size:cover;
    margin-top: 0%;
    background:url("../assets/img/computer_code.jpg");
    background-size:cover;
    height:330px;
    font-size:70px;
    font-style: italic;
    opacity: .8;
    text-shadow: 5px 0 0 green, -2px 0 0 green, 0 2px 0 green, 0 -2px 0 green, 1px 1px green, -1px -1px 0 green, 1px -1px 0 green, -1px 1px 0 green;
}
.texting{
    color:white;
    font-size:30px;
}
#heads{
    opacity:9.0;
    color:black;
    text-shadow: 5px 0 0 green, -2px 0 0 green, 0 2px 0 green, 0 -2px 0 green, 1px 1px green, -1px -1px 0 green, 1px -1px 0 green, -1px 1px 0 green;
}

