/* CSS code for the Header section. */



#main-header{
    background-size:cover;
    margin-top: 0%;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top:3px ridge;
    background:url("../assets/img/computer_code.jpg");
    background-size:cover;
    height:330px;
    text-decoration: white;
    font-size:70px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color:white;
    opacity: .8;
    
}
.texting{
    color:white;
    font-size:30px;
}

#heads{
    opacity:9.0;
}

