/* ------------------------------
Navbar Section
--------------------------------*/
#myNav{
    margin:0;
    height: 60px;
    color: whitesmoke;
    background-color: black;
}

.texting{
    float:left;
    left:0px;
}